<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">


	<ui:composition template="welcomeV1.xhtml">
		<ui:define name="CSS">
			<h:outputStylesheet name="CSS/main.css"></h:outputStylesheet>
		</ui:define>
		
			<ui:define name="myContent">	
			<div id="ourContent">
				<h:form enctype="multipart/form-data" id="formAdd">
					Nom de l'article : 	<h:inputText value="#{productMBean.name}"></h:inputText>
					Description : 		<h:inputTextarea value="#{productMBean.description}" cols="30" rows="10" />
					Prix : 				<h:inputText type="number" value="#{productMBean.price}"></h:inputText><br/>
					<h:selectManyCheckbox styleClass="checkBoxes" value="#{productMBean.technicalInfos}">
			   			<f:selectItems value="#{productMBean.technicalInfosValue}" />
			   		</h:selectManyCheckbox>
			   		Coût d'achat : <h:inputText type="number" value="#{productMBean.cost}"></h:inputText>
			   		TVA (%) : <h:inputText type="number" value="#{productMBean.vat}" ></h:inputText>
			   		Couleur : <h:selectOneMenu value="#{productMBean.color}">
							    <f:selectItems value="#{productMBean.colors}" var="size" itemValue="#{color}" />
							</h:selectOneMenu>
			   		Taille : <h:selectOneMenu value="#{productMBean.size}">
							    <f:selectItems value="#{productMBean.sizes}" var="size" itemValue="#{size}" />
							</h:selectOneMenu>
					Stock : <h:inputText type="number" value="#{productMBean.stock}" ></h:inputText>
					Stock Minimum: <h:inputText type="number" value="#{productMBean.minStock}" ></h:inputText>
					Genre : <h:selectOneMenu value="#{productMBean.gender}">
							    <f:selectItems value="#{productMBean.genders}" var="gender" itemValue="#{gender.id}" itemLabel="#{gender.name}"/>
							</h:selectOneMenu>
			   		Sport :	<h:selectManyCheckbox styleClass="checkBoxes" value="#{productMBean.listOfSports}">
			   			<f:selectItems value="#{productMBean.sports}" var="sport" itemValue="#{sport.id}" itemLabel="#{sport.name}" />
			   		</h:selectManyCheckbox>
					Catégorie : <h:selectOneMenu value="#{productMBean.category}">
							    <f:selectItems value="#{productMBean.categories}" var="category" itemValue="#{category.id}" itemLabel="#{category.name}" />
							</h:selectOneMenu>
			   		Composition : <h:selectOneMenu styleClass="composition" value="#{productMBean.composition}">
							    <f:selectItems value="#{productMBean.compositions}" var="composition" itemValue="#{composition.id}" itemLabel="#{composition.name}"/>
							</h:selectOneMenu>
							<h:inputText type="number" value="#{productMBean.compositionQuantity}" />
					<h:commandButton value="Enregistrer" action="#{productMBean.doAddProduct}" onclick = "alert('Votre article a bien été enregistré!');"/>
				</h:form>		
				</div>		
			</ui:define>	
		
</ui:composition>



</html>

